.main{
    width: 90%;
    margin: auto;
}

.skill-container{
    cursor: pointer;
}

.skill-container img:hover{
   transform: scale(1.1);
}
@media screen and (max-width: 400px){
    .main{
        width: 100%;
    }
    .personal-photo{
        width: 300px;
        height: 300px;
    }
   .skill-img{
    width: 100px;
    height: 100px;
   }
}
